body {
    margin: 0px;
    padding: 0px;
}

#main-content {
    margin: 0px 5px;
}

#navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #000;
    height: 100%;
    overflow: hidden;
    background: #fff;
}

.navbar-item {
    font-weight: bold;
    float: left;
    padding: 10px;
    background: inherit;
}

.navbar-item a {
    color: black;
    text-decoration: none;
}

#title {
    margin-top: 10px;
}

.warn {
    background-color: #F77;
}